{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/perfil.css'%}" />
    
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
		integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>  

	<script type="text/javascript">
		window.onload = function () {
			document.querySelector(".menuMobile").addEventListener("click", function () {
				if (document.querySelector(".menu nav ul").style.display == 'flex') {
					document.querySelector(".menu nav ul").style.display = 'none';
				} else {
					document.querySelector(".menu nav ul").style.display = 'flex';
				}
			});
		};
	</script>


<title>Perfil | MorAmigo</title>

</head>

<body>

	<header>
		<div class="container">
			<div class="logo">
				<a href="Logo | MorAmigo"><img src="{% static 'main/images/logo.svg'%}" /></a>
			</div>
			<div class="menu">
				<nav>
					<div class="menuMobile">
						<div class="mm_line"></div>
						<div class="mm_line"></div>
						<div class="mm_line"></div>
					</div>
					<ul>
						<!-- <li class="active"><a href="">HOME</a></li> -->
						<li><a href="{% url 'main:home' %}"><i class="fas fa-search"></i> Home</a></li>
						<li><a href="{% url 'main:busca' %}"><i class="fas fa-sign-in-alt"></i> Buscar Pessoas</a></li>
						<li><a href=""><i class="far fa-file-alt"></i> Minha Conta</a></li>
					</ul>
				</nav>
			</div>
		</div>
    </header>
   
    </div>
        
	<footer>
		<div class="container flexColumn">

			<div class="footer_copy">
				Coyright - Todos os direitos reservados
			</div>

		</div>
	</footer>
</body>
</html>