* {
	font-family:Arial;
}
body {
	margin:0;
	padding:0;
}
header {
	display:flex;
	justify-content:center;
	height:120px;
}


.container {
	display:flex;
	justify-content:space-between;
	width:1000px;
}

.logo img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 7rem;

}
.menu {
	display:flex;
	align-items:center;
}
nav ul,
nav li {
	list-style: none;
	margin:0;
	padding:0;
}
nav ul {
	display:flex;
}
nav a {
	display:block;
	padding:15px;
	font-size:18px;
	text-decoration:none;
	text-transform:uppercase;
	color:#727272;
}
nav .active a,
nav a:hover {
	background-color:#FF9A00;
	color:#FFFFFF;

}



.column {
	flex-direction: column;
}
/* arquivo pra main(em cima) */

form{

	padding: 20px;
	display: grid;
    grid-template-columns: repeat(1, 15% 20% 7% 22%);
    gap: 16px;
    width: 100%;


}
.bnt-buscar{

	margin-top:10px;
	background-color: #8257E5;
	width: 100%;
	height: 2.9rem;
	border-radius: .6rem;
    cursor: pointer;
	font: 700 1rem Archico;
	color: #FFFFFF;
    text-decoration: none;
    transition: 0.2s;
	margin-bottom: 2.1rem;
	border: solid 1px #8257E5;
	grid-column-start: none;

}

.bnt-buscar:hover{
	text-decoration: none;
	background-color: #916BEA;

}
form label{
	color: #FF9A00;
	font-weight: bold;

}
 input{
	height: 7vh;
	border-radius: 6px;
	background-color: #F8F8FC;

}

form select{
	height: 7vh;
	border-radius: 6px;
	background-color: #F8F8FC;
	width: 100%;
	font-weight: bold;



}
form option{
	font-weight: bold;
	padding: 7px;

}
.page-perfil{

    display:flex;
	justify-content:center;
	padding: 10px;
	align-items: center;
	border-top: 15px solid #FF9A00;
	border-bottom: 15px solid #FF9A00;


}
.banner_options {
	height:100%;
	display:flex;

}

.banner1{
	display: block;
	justify-content: center;
	align-items: center;
	color:black;
	padding:10px;
	margin: 10px;
	border: solid 1px #B6B3B3;
	border-radius: 10px;

}


.foto-perfil{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.foto-perfil h2{
	/* font-size: 15px; */
	font-weight: bold;

}

.foto-perfil img{
	width: 6rem;
	margin-right: 5px;



}


.banner_desc {
	font-size:14px;
	margin-top:20px;
	margin-bottom:20px;
	color: gray;


}
.banner_options a {
	display:inline-block;
	border:4px solid #FF9A00;
	padding:2px;
	color:#6842C2;
	font-size:13px;
	text-decoration: none;
	font-weight: bold;
	margin-top:24px;
	width: 15vh;
	text-align: center;
	border-radius: 11px;

}
.banner_options a:hover{
    color: blueviolet;
}

#geral {
	display:flex;
	justify-content:center;
	background-position:center;
	text-align: center;
	min-height:300px;
	height: 100%;

}


#geral section {
	flex:2;
	/* display: flex; */
	height: 100%;

	align-items: center;
}


.flex {
	display:flex;
	flex-wrap:wrap;
}


footer {
	flex:1;
	background: linear-gradient(90deg, #f2a900, #fe5000);
	/* background-color:#FF9A00; */
	display:flex;
	justify-content:center;
	align-items: center;
	text-align: center;
}



.flexColumn {
	flex-direction:column;
}



.footer_copy {
	border-top:1px solid gray;
	height:40px;
	line-height:40px;
	color:#5c5c5c;
	font-size:12px;
	margin-top:30px;
	margin-bottom:20px;


}

.menuMobile {
	display:none;
	width:40px;
	height:40px;
	margin-top:40px;
	margin-bottom:40px;
	margin-right:20px;

}

.mm_line {
	height:3px;
	background-color:black;
}
@media (max-width:770px){
    .logo img{
        padding-left:5px;
    }
    nav a{
        font-size:14px;
    }
    .foto-perfil h3{
        font-size:15px;
        width:80%;
    }
}


@media (max-width:730px) {

    .dropdown-content a{
        font-size:13px;
    }

	form{
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 90%;
		margin: 5px;
		padding: 20px;
	}
	form label{

		margin: 0px;
		padding: 0px;
	}
	.banner_options {
		height:auto;
		flex-direction:column;
	}


	.container {
		flex-direction:column;
	}




	.footer_copy {
		text-align: center;
	}



	header .container {
		flex-direction: row;
	}
	nav ul {
		flex-direction: column;
		display:none;
		position: absolute;
	    left: 0;
	    width: 100%;
	    background-color: #FFFFFF;
	}

	header {
		height:auto;
	}
	.logo img {
		padding-left:7px;
		width: 67%;

	}

	.menuMobile {
		display:flex;
		flex-direction: column;
		justify-content:space-around;
	}
	.page-perfil{
		margin: 5px;
        padding: 0px;

	}

}


