#cadastro-usuario #container{
    width:100vw;
    height: 100vh;
}

#cadastro-usuario .page-header .header-content{
    margin-bottom: 6.4rem;
}

#cadastro-usuario main{
    /*,e,,e,ee,*/
    background: var(--color-box-base);
    width: 60%;
    max-width: 60rem;
    border-radius: .8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem;
}
#cadastro-usuario fieldset{
    border: none;
    padding: 0 2.4rem;
}

#cadastro-usuario fieldset legend{
    font: 700 2.4rem Archico;
    color: var(--color-secondary);
    /* margin-bottom: 2rem; */

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.6rem;

    border-bottom: 1px solid var(---color-line-in-white);
}
p{
    color: var(--color-secondary);
}
.selecao{
    color: var(--color-text-title);
}


#cadastro-usuario fieldset+fieldset{
    margin-top: 6.4rem;

}

#cadastro-usuario .input-block+.input-block{
    margin-top: 1.4rem;

}

/*.schedule-item+.schedule-item{*/
/*    margin-top: 3.2rem;*/
/*    padding-top: 3.1rem;*/
/*    border-top: 1px solid var(--color-line-in-while);*/
/*}*/
button a{
    text-decoration: none;
    color: var(--color-button-text);
}

@media (max-width:700px){
    .page-header .header-content {
    width: 90%;
    }


    button.create-class {
    width:100%;
    height: 50px;
    margin-bottom: 27px;
    background-color: #8257E5;
    border: 1px solid white;
    border-radius: 6px;
    margin-top:20px;
    }
    .page-header .header-content strong {
    display: Contents;
    font: 700 2.2rem Archivo;
    }
    .esqueceu-senha{
        text-align:center;
        padding-bottom:10px;
    }
    #cadastro-usuario main{
        width:100%;
    }



}

@media (min-width: 700px){



    #cadastro-usuario #container{
        max-width: 100vw;
    }

    #cadastro-usuario .page-header  .header-content{
        margin-bottom:0;
        max-width:580px;

    }
    .page-header .header-content p{
        max-width:55rem;
    }


    #cadastro-usuario main fieldset{
        padding: 0 64px;
    }
    .schedule-item{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 1.6rem;
    }

    #cadastro-usuario #schedule-items .input-block+.input-block {
        margin-top: 0;

    }

    .Button-cadastrar{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    button{
        background: var(--color-primary-dark);
        width: 100%;
        height: 5.8rem;
        border-radius: .8rem;
        cursor: pointer;
        font: 700 2.6rem Archico;
        text-decoration: none;
        transition: 0.2s;
        margin-top: 3.2rem;
        margin-bottom: 2.1rem;
        color: var(--color-button-text);
        border: 1px solid var(--color-button-text);

    }
    button a{
        text-decoration: none;
        color: var(--color-button-text);
    }

    .Button-entrar button:hover{
        background: var( --color-primary-light);
    }
    .esqueceu-senha{
        text-align: center;
        margin-bottom: 50px;
    }
    .esqueceu-senha a{
        color: var(--color-primary-lighter);
        padding-top:20px;
        text-decoration: none;
    }
}