#page-study #container{
    width: 100vw;
    height: 100vh;
    

}
.page-header{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
}
.page-header .top-bar-container{
    width: 90%;
    margin: 0 auto;

    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 0;

}
.page-header .top-bar-container a{


    height: 3.2rem;
    transition: opacity 0.2s;
}
.page-header .top-bar-container a:hover{
    opacity: 0.6;

}

.page-header .top-bar-container  > img{
    height: 5.6rem;
  
}
.page-header .header-content{
    /* width: 80%; */
    margin: 3.2rem auto;
    position: relative;
}
.page-header .header-content strong{
    display: Contents;
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
    color: var(--color-title-in-primary);
}

.page-header .header-content p{
    max-width: 30rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-button-text);
    margin-top: 2.4rem;
}




@media (min-width: 700px){
    .page-header {
        height: 340px;
    }
    .page-header .top-bar-container{
        max-width: 1100px;
    }

    .page-header .header-content{
        max-width: 740px;
        margin: 0 auto;

        flex: 1 1;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .page-header .header-content strong{
        max-width: 350px;
    }

}








