* {
	font-family:Arial;
}
body {
	margin:0;
	padding:0;
}
header {
	display:flex;
	justify-content:center;
	height:120px;
}
.container {
	display:flex;
	justify-content:space-between;
	width:1000px;
}
.logo {
	flex:1;
	display:flex;
	align-items: center;
	margin-bottom:18px;
	
	
}
.menu {
	display:flex;
	align-items:center;
}
nav ul,
nav li {
	list-style: none;
	margin:0;
	padding:0;
}
nav ul {
	display:flex;
}
nav a {
	display:block;
	padding:15px;
	text-decoration:none;
	text-transform:uppercase;
	color:#727272;
}
nav .active a,
nav a:hover {
	background-color:#FF9A00;
	color:#FFFFFF;
}



.column {
	flex-direction: column;
}


/* arquivo pra main(em cima) */




.tebela {
	display:flex;
	justify-content:center;
	background-position:center;
    text-align: left;
    flex-direction: column;

}



.flex {
	display:flex;
	flex-wrap:wrap;
}


footer {
	flex:1;
	background-color:#FF9A00;
	display:flex;
	justify-content:center;
	align-items: center;
	text-align: center;
}



.flexColumn {
	flex-direction:column;
}



.footer_copy {
	border-top:1px solid gray;
	height:40px;
	line-height:40px;
	color:#5c5c5c;
	font-size:12px;
	margin-top:30px;


}

.menuMobile {
	display:none;
	width:40px;
	height:40px;
	margin-top:40px;
	margin-bottom:40px;
	margin-right:20px;

}

.mm_line {
	height:3px;
	background-color:black;
}

@media (max-width:660px) {



	.container {
		flex-direction:column;
	}



	.footer_copy {
		text-align: center;
	}

	header .container {
		flex-direction: row;
	}
	nav ul {
		flex-direction: column;
		display:none;
		position: absolute;
	    left: 0;
	    width: 100%;
	    background-color: #FFFFFF;
	}

	header {
		height:auto;
	}
	.logo {
		padding-left:20px;
		width: 35%;
		margin-bottom:10px;
	}

	.menuMobile {
		display:flex;
		flex-direction: column;
		justify-content:space-around;
	}
}
