:root { /*Cores em variaveis*/
    --color-background: #F0F0F7;
    --color-primary-lighter: #065497;
    --color-primary-light: #916BEA;
    --color-primary: #FF9A00;
    --color-primary-dark: #8257E5;
    --color-primary-darker: #6842c2;
    --color-secondary: #E9BE33;
    --color-secondary-dark: #f78a47;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
     --color-text-green: #10c562;
     --color-text-green-hover: #1de476;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
    /*Tamanho das fonte padrão: 16px - 100% - 1rem*/
    font-size: 60%; /* controle das medidas rem*/
}
/*propriedade padrao no css*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
html, 
body{
    height: 100vh; /*height = altura*/
}

body{
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input, 
button, 
textarea{
    /* font: 500 1.6rem Poppins; */
    font-weight: 500;
    font-family: Poppins;
    font-size: 1.6rem;
    color: var(--color-text-base)
}

#container{
    width:  90vw; /* width = largura */
    max-width: 700px;
    /* background-color: var(--color-primary-darker); */
} 
@media (min-width: 700px){
    :root{
        font-size: 62.5%;
    }
}