* {
	font-family:Arial;
}
body {
	margin:0;
	padding:0;

}
header {
	display:flex;
	justify-content:center;
	height:120px;
}



.container {
	display:flex;
	justify-content:space-between;
	width:1000px;
}



.menu {
	display:flex;
	align-items:center;
}
nav ul,
nav li {
	list-style: none;
	margin:0;
	padding:0;
}
nav ul {
	display:flex;
}
nav a {
	display:block;
	padding:15px;
	font-size:18px;
	text-decoration:none;
	text-transform:uppercase;
	color:#727272;
}
nav .active a,
nav a:hover {
	background-color:#FF9A00;
	color:#FFFFFF;
}
.logo img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 7rem;
}

.foto-perfil{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.foto-perfil h2{
	font-weight: bold;

}

.foto-perfil img{
	width: 6rem;
	margin-right: 5px;



}



.column {
	flex-direction: column;
}
/*ate aqui pra cima*/


.banner_options {
	height:100%;
	display:flex;


}
.page-perfil{
    display:flex;
	justify-content:center;
	height: 270px;


}




.page-topo{
	width: 100%;
	height: 20vh;
    display:flex;
	justify-content:center;
	text-align: center;
	align-items: center;
	color: #FFFFFF;
	border-top: 15px solid #FF9A00;
	border-bottom: 30px solid #FF9A00;

}
/*adcionei*/
.page-topo button {
	margin: 30px 20px 3px 20px ;
	justify-content:space-between;
	width:25%;
	height: 2.9em;
	font-size: 17px;
	border-radius: 6px;
	border: 1px solid white;

}
.page-topo .btn-meusInteresse a{
    text-decoration: none;
    color: white;
}

.btn-solicitacao {
	font-weight: bold;

	background-color:#7550cc;

	font-weight: bold;
}

.btn-meusInteresse {
	font-weight: bold;
	background-color:#9671ec;
    font-weight: bold;

}
.btn-solicitacao a,
.btn-meusInteresse a{
	text-decoration: none;
	color: white;
}

.page-topo .btn-meusInteresse{
	border: 3px solid yellow;
}


button:hover {
	background-color:#8d69e0;
	color:#ddd4f5;
}


.butto a{
	color: white;
	text-decoration:none;
	text-align: center;
	align-items: center;
}

/*depois*/
.foto-perfil{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.foto-perfil h2{
	font-weight: bold;

}

.foto-perfil img{
	width: 5rem;




}

/*ate aqui*/



.banner1{
	display: block;
	justify-content: center;
	align-items: center;
	color:black;
	width:33.3%;
	padding:16px;
    margin-left:5px;
    margin-right:5px;
    margin-top:15px;
    margin-bottom:15px;
	border: solid 1px #B6B3B3;
	border-radius: 10px;


}
.btn-aceitar{
    background-color: rgb(16, 105, 16);
	color: white;
	font-size: 12px;
    border:1px solid white;
    border-radius: 4px;
    height: 4.4vh;
    width: 52%;
    transition: 1ms;
    font-weight: bold;
}

.btn-aceitar:hover{
    background-color: rgb(4, 163, 4);
    color: white;
}
.titulo-meusInteresse{



	margin-top: 5px;
	text-align: center;
	justify-content:center;
}
.titulo-meusInteresse h1{
	color:#FFFFFF;
	font-weight: bold;
	display:inline-block;

	width:100%;
	padding:5px;
	background: linear-gradient(90deg, #f2a900, #fe5000);

}
.conteudo p{
	display: inline-flex;
    justify-content: center;
    font-size: 12px;
    width: 62%;
    color: grey;
    text-align: center;

 }



.bairro p{
    font-size: 14px;
    color:grey;
    text-align: center;
}


.ver-perfil{
	text-align: left;
	color:#7550cc;
	margin-top:5px;
	margin-left: 4px;

}
.ver-perfil a{

	border:2px solid #FF9A00;
	padding:3px;
	color:#6842C2;
	font-size:11px;
	text-decoration: none;
	font-weight: bold;
	margin-top:5px;
	width: 13vh;
	text-align: center;
	border-radius: 4px;
	align-items: center;


}

.ver-perfil a:hover{
    color: blueviolet;
}

#geral {
	display:flex;
	justify-content:center;
	background-position:center;
	text-align: center;
    min-height:600px;
    height:100%;


}


#geral section {
	flex:2;
	height: 100%;

	align-items: center;

}


.flex {
	display:flex;
	flex-wrap:wrap;
}


footer {
	flex:1;
	background: linear-gradient(90deg, #f2a900, #fe5000);
	display:flex;
	justify-content:center;
	align-items: center;
	text-align: center;
}



.flexColumn {
	flex-direction:column;
}




.footer_copy {
	border-top:1px solid gray;
	height:40px;
	line-height:40px;
	color:#5c5c5c;
	font-size:12px;
	margin-top:30px;
	margin-bottom:20px;



}

.menuMobile {
	display:none;
	width:40px;
	height:40px;
	margin-top:40px;
	margin-bottom:40px;
	margin-right:20px;

}

.mm_line {
	height:3px;
	background-color:black;
}

@media (max-width:780px){
    .logo img{
        padding-left:5px;
    }
    .foto-perfil h3{
        font-size:16px;
    }
    nav a{
        font-size:14px;
    }
	.btn-aceitar{

		font-size: 11px;
		width: 100%;

	}
    .page-topo button {
        width:100%;
        font-size: 14px;


    }
    .btn-recusar, .btn-aceitar{
        width: 50%;
        height: 5vh;

    }
}

@media (max-width:660px) {

    .page-topo button {
        width:100%;
        font-size: 12px;


	}
	.banner1 {
		display:flex;
		justify-content:center;
		flex-direction: column;
		align-items: center;
		width:85%;
		margin-left: 13px;

	}

	.titulo-meusInteresse h1{
		width:90%;
		font-size:18px;
		font-weight: bold;
	}
	.banner_options {
		height:auto;
		flex-direction:column;
	}

	.container {
		flex-direction:column;
	}
    .topo{
		flex-direction:column;
	}


	.footer_copy {
		text-align: center;
	}

	header .container {
		flex-direction: row;
	}
	nav ul {
		flex-direction: column;
		display:none;
		position: absolute;
	    left: 0;
	    width: 100%;
	    background-color: #FFFFFF;
	}

	header {
		height:auto;
	}
	.logo img{
		padding-left:7px;
		width:70%;

	}

	.menuMobile {
		display:flex;
		flex-direction: column;
		justify-content:space-around;
	}
}
@media (max-width:425px){
    .page-topo{
    width: 95%;
    margin: 10px;
    height: 26vh;
    display: flex;

    flex-direction: column;

    border:0;

    }
    .banner1{
        margin-left:3%;
    }
}



