.dropbtn {
    background-color:white;
    color:#727272;
    padding: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-transform:uppercase;
  }

  .dropbtn:hover, .dropbtn:focus {
    background-color:#FF9A00;
    color:white;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 174px;
    overflow: auto;
    z-index: 1;
    font-size: 14px;
  }

  .dropdown-content a {
    color: black;
    padding: 8px 15px;
    font-size:14px;
    text-decoration: none;
    display: block;



  }

  .dropdown a:hover {background-color:#FF9A00;}

  .show {display: block;}


@media(max-width:820px) {


     .dropbtn {

      font-size:14px;
    }




  }

