#tela-login #container{
    width:100vw;
    height: 100vh;
}

#tela-login .page-header .header-content{
    margin-bottom: 6.4rem;
}


#tela-login main{
    background: var(--color-box-base);
    width: 100%;
    max-width: 66rem;
    border-radius: .8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem;
}
#tela-login fieldset{
    border: none;
    padding: 0 2.4rem;
}

#tela-login fieldset legend{
    font: 700 2.4rem Archico;
    color: var(--color-secondary);

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.6rem;

}


#tela-login .input-block+.input-block{
    margin-top: 2.4rem;

}



#tela-login main footer{
    padding: 4rem 2.4rem;

    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-while);
    margin-top: 3.1rem;
}


#tela-login main footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-text-complement);

}

#tela-login main footer p img{
    margin-right:2rem;
}

#tela-login main footer button {
    width: 100%;
    height: 5.6rem;
    background: var(--color-primary);
    color: var(--color-button-text);
    border-radius: .8rem;
    cursor: pointer;
    font: 700 1.9rem Archico;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s;
    margin-top: 3.2rem;

}

#tela-login main footer button:hover{
    background: var(--color-secondary-dark);
}



.Button-entrar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menssagem-usuario h2{
    padding-top:30px;
    font-size: 12px;
    color: rgb(247, 45, 45);
    background-color: rgb(248, 222, 226);
    text-align: center;
    height: 10vh;
}
.fa-exclamation-triangle{
    color:red;
}
button{
    background: var(--color-primary-dark);
    width: 100%;
    height: 5.8rem;
    border-radius: .8rem;
    cursor: pointer;
    font: 700 2.6rem Archico;
    text-decoration: none;
    transition: 0.2s;
    margin-top: 3.2rem;
    margin-bottom: 2.1rem;
    color: var(--color-button-text);
    border: 1px solid var(--color-button-text);

}
button a{
    text-decoration: none;
    color: var(--color-button-text);
}

.Button-entrar button:hover{
    background: var( --color-primary-light);
}

.esqueceu-senha{
    text-align: center;
}
.esqueceu-senha a{
    color: var(--color-primary-lighter);
    text-decoration: none;
}

@media (max-width:600px){
    .menssagem-usuario h2 {
    padding-top: 20px;
    font-size: 8px;
}
}

@media (max-width:700px){
    .page-header .header-content strong {
    font: 700 2.2rem Archivo;
    text-align:center;

}
}

@media (min-width: 700px){


    #tela-login #container{
        max-width: 100vw;
    }

    #tela-login .page-header  .header-content{
        margin-bottom:0;

    }
    #tela-login main fieldset{
        padding: 0 64px;
    }
    .schedule-item{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 1.6rem;
    }


    #tela-login #schedule-items .input-block+.input-block {
        margin-top: 0;

    }

    #tela-login main footer{
        padding: 20px 64px;

        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    #tela-login main footer button{
        margin-top: 0;
        width: 170px;

    }
}