
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca | MorAmigo</title>
</head>
<body>

    <a href="{% url 'main:home' %}"> Home </a> |
    <h1> Lista de pessoas </h1>
    {% for pessoa in pessoa_list %}
        
        <hr>
        <h2> {{pessoa.nome}} </h2>
        <p>Bairros inteteressados:</p>
        <ul>
            {%for bairro in pessoa.restricoes.localidades.all%}
                <li>{{bairro}}</li>        
            {%endfor%}
        </ul>
        <p>Posso contribuir: R$ {{pessoa.restricoes.valor_contribuicao}}</p>
        <a href="{% url 'main:perfil' pessoa.id %}">Ver perfil</a>
            
    {%endfor%}

</body>
</html>