{% load static %}
<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MorAmigo | Sua plataforma de compartilhamento de moradia</title>


    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
		integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
		crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/partials/main.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/partials/header.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/partials/forms.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/partials/cadastro-usuario.css'%}" />


    <link href="https://fonts.googleapis.com/css2?
    family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;
    display=swap" rel="stylesheet">

    <script src ="./scripts/addField.js" defer></script>


</head>

<body id="cadastro-usuario">

    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="{% url 'main:home' %}">
                    <img  src="{% static '/main/images/icons/back.svg'%}" alt="Voltar">

                </a>
                <img src="{% static '/main/images/logoPreta.svg'%}" alt="MorAmigo">

          </div>

          <div class="header-content">
              <strong>Que incrível que você quer pertecer ao nosso sistema.</strong>
              <p>O primeiro passo, é preencher esse formulário de inscrição!</p>
          </div>
        </header>

      <main>
          <form action="/save-classes" id="create-class" method="POST">
            <fieldset>
                <legend><i class="fas fa-lock"> Fazer Cadastro</i></legend>
                 <hr>
                 <br>


                <div class="input-block">
                    <label for="name"></label>
                    <input name="name" placeholder="Digite seu e-mail" id="name" required>
                </div>

                <div class="input-block">
                    <label for="avatar"></label>
                    <input name="avatar" placeholder="Digite sua senha" id="avatar" type="password" required>
                </div>

                <div class="input-block">
                    <label for="avatar"></label>
                    <input name="avatar" placeholder="Confirme sua senha" id="avatar" type="password" required>
                </div>

                <div class="Button-cadastrar">
                  <button  type="submit" class="create-class">
                      <a href="./busca.html">Cadastrar</a>
                   </button>
                </div>


                <div class="esqueceu-senha">
                    Ja possui uma conta? <a href="{% url 'main:login' %}">Clique aqui</a>
                </div>




            </fieldset>
          </form>

      </main>
    </div>



</body>
</html>