<html>
    <head>

    </head>

    <body>
        <h1>Você demonstrou interesse em {{pessoa.nome}}</h1>        
        <a href="{% url 'main:meus-interesses' user.pessoa.id %}">Meus interesses</a>

    </body>
</html>