{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,user-scalable=0" />

    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/partials/meusInteresse.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/partials/minha-conta.css'%}" />
    <script src="{% static 'main/javascript/minha-conta.js'%}"></script>

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
		integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>

	<script type="text/javascript">
		window.onload = function () {
			document.querySelector(".menuMobile").addEventListener("click", function () {
				if (document.querySelector(".menu nav ul").style.display == 'flex') {
					document.querySelector(".menu nav ul").style.display = 'none';
				} else {
					document.querySelector(".menu nav ul").style.display = 'flex';
				}
			});
		};
	</script>


<title>Demostrar Interesse | MorAmigo</title>

</head>

<body>

	<header>
		<div class="container">
			<div class="logo">
				<a href="{% url 'main:home'%}"><img src="{% static 'main/images/logo.svg'%}" /></a>
			</div>
			<div class="menu">
				<nav>
					<div class="menuMobile">
						<div class="mm_line"></div>
						<div class="mm_line"></div>
						<div class="mm_line"></div>
					</div>
					<ul>

						<li><a href="{% url 'main:home' %}"><i class="fas fa-home-lg"></i> Home</a></li>
						<li><a href="{% url 'main:buscar-pessoas' %}"><i class="fas fa-search"></i> Buscar Pessoas</a></li>


						{% if user.is_authenticated %}

                        <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn"><i class="fas fa-user"></i> Minha Conta <i class="fa fa-caret-down"></i></button>
                            <div id="myDropdown" class="dropdown-content">
                              <a href=""><i class="fas fa-user"></i> Olá, {{user}}</a>
                              <a href="{%url 'main:perfil' user.pessoa.id %}"><i class="fas fa-user"></i> Meu perfil</a>
                              <a href="{% url 'main:logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </div>
                          </div>


                    {% else %}

                        <li><a href="{% url 'main:login' %}"><i class="fas fa-sign-in-alt"></i> Entrar</a></li>
                     {% endif %}

					</ul>
				</nav>
			</div>
		</div>
    </header>


<div>
    {% if user.is_authenticated %}


    <div class="page-topo">
        <button class="btn-solicitacao"><a href="{% url 'main:solicitacoes-interesse' user.pessoa.id %}">Solicitações de interesse</a></button>

		<button class="btn-meusInteresse"><a href="{% url 'main:meus-interesses' user.pessoa.id %}">Meus interesses</a></button>

    </div>

	<section id="geral">
		<div class="container column">
			<div class="titulo-meusInteresse">
				<h1>Meus interesses confirmados</h1>

			</div>

			<div class="banner_options">
				{% for confirmado in solicitacoes_aceitas %}
					<div class="banner1">
						<div class="foto-perfil">
							<img src="{% static '/main/images/pessoa1.svg'%}" alt="usuario">
							<h3>{{confirmado.nome}}, {{confirmado.idade}} anos</h3>

						</div>

						<div class="ver-perfil">
							<a href="{%url 'main:perfil' confirmado.id %}"><i class="fas fa-user"></i> Ver perfil</a>
						</div>

						<div class="conteudo">
							<p>{{confirmado.descricao}}</p>
						 </div>


						{%for bairro in confirmado.restricoes.localidades.all%}

						<div class="bairro">
							<p><i class="fas fa-home-lg-alt"></i> Bairro: {{bairro}}</p>
						 </div>


						{%endfor%}
						<button class="btn-aceitar"><i class="far fa-address-book"></i>
							{{confirmado.contato}}
						</button>
					</div>
				{% endfor %}
			</div>

			<div class="titulo-meusInteresse">
				<h1>Meus interesses pendentes</h1>

			</div>

			<div class="banner_options">
				{% for pendente in solicitacoes_pedentes %}
					<div class="banner1">
						<div class="foto-perfil">
							<img src="{% static '/main/images/pessoa1.svg'%}" alt="usuario">
							<h3>{{pendente.nome}}, {{pendente.idade}} anos</h3>

						</div>


						<div class="ver-perfil">
							<a href="{%url 'main:perfil' pendente.id %}"><i class="fas fa-user"></i> Ver perfil</a>

						</div>


							<div class="conteudo">
								<p>{{pendente.descricao}}</p>
							 </div>

						{%for bairro in pendente.restricoes.localidades.all%}

						 <div class="bairro">
							<p><i class="fas fa-home-lg-alt"></i> Bairro: {{bairro}}</p>
						 </div>


						{%endfor%}

						<button class="btn-aceitar"><i class="far fa-address-book"></i>
							Solicitação enviada
						</button>
					</div>
				{% endfor %}
			</div>


		</div>

	</section>

</div>
	{% else %}

        <center>
		<div class="page-container">
			<p> Ops, você precisa estar logado no sistema para demonstrar interesse em alguém. </p><br>
			<button><a href="{% url 'main:login' %}">Fazer login</a></button>
		</div>
		</center>

	{% endif %}

	</div>

	<footer>
		<div class="container flexColumn">

			<div class="footer_copy">
				Copyright - Todos os direitos reservados
			</div>

		</div>
	</footer>
</body>
</html>