{% load static %}
<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MorAmigo | Sua plataforma de compartilhamento de moradia</title>


	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
		integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
		crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/partials/main.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/partials/header.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/partials/forms.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/partials/tela-login.css'%}" />


    <link href="https://fonts.googleapis.com/css2?
    family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;
    display=swap" rel="stylesheet">




</head>

<body id="tela-login">

    <div id="container">
        <header class="page-header">
          <div class="top-bar-container">
                <a href="{% url 'main:home' %}">
                    <img  src="{% static '/main/images/icons/back.svg'%}" alt="Voltar">

                </a>
                <img src="{% static '/main/images/logoPreta.svg'%}" alt="MorAmigo">

          </div>

          <div class="header-content">
              <strong>Bem-vindo ao Sistema MorAmigo!</strong>
              <p>O primeiro passo, faça seu login.</p>
          </div>
        </header>




      <main>
          <form action="" id="create-class" method="POST">
            {% csrf_token %}

              <fieldset>
                {% for m in messages %}
                <div class="menssagem-usuario">
                <h2>{{m}} <i class="fas fa-exclamation-triangle"></i></h2>
                </div>

                {%endfor%}


                  <legend><i class="fas fa-lock"> Login</i></legend>
                    <hr>
                    <br>

                  <div class="input-block">
                      <label for="username"></label>
                      <input name="username" placeholder="Digite seu e-mail" id="name" required>
                  </div>

                  <div class="input-block">
                      <label for="senha"></label>
                      <input name="senha" placeholder="Digite sua senha" id="avatar" type="password" required>
                  </div>

                  <div class="Button-entrar">
                    <button  type="submit" class="create-class">
                        <a href="">Entrar</a>
                     </button>
                  </div>


                  <div class="esqueceu-senha">
                      Esqueceu sua senha? <a href="">Clique aqui</a>
                  </div>







              </fieldset>
          </form>
          <footer>
              <p>
                  <img src="{% static '/main/images/icons/warning.svg'%}" alt="Aviso importante">
                  Importante! <br> Preencher os dados corretamente
              </p>
              <button  type="submit" class="create-class">

                    <a href="{% url 'main:cadastro-usuario' %}">Cadastre - se</a>

              </button>


          </footer>
      </main>
    </div>




</body>
</html>