{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,user-scalable=0" />

    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/partials/solicitacaoInteresse.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/partials/minha-conta.css'%}" />
    <script src="{% static 'main/javascript/minha-conta.js'%}"></script>

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
		integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>

	<script type="text/javascript">
		window.onload = function () {
			document.querySelector(".menuMobile").addEventListener("click", function () {
				if (document.querySelector(".menu nav ul").style.display == 'flex') {
					document.querySelector(".menu nav ul").style.display = 'none';
				} else {
					document.querySelector(".menu nav ul").style.display = 'flex';
				}
			});
		};
	</script>


<title>Meus interesses | MorAmigo</title>

</head>

<body>

	<header>
		<div class="container">
			<div class="logo">
				<a href="{% url 'main:home'%}"><img src="{% static 'main/images/logo.svg'%}" /></a>
			</div>
			<div class="menu">
				<nav>
					<div class="menuMobile">
						<div class="mm_line"></div>
						<div class="mm_line"></div>
						<div class="mm_line"></div>
					</div>
					<ul>

						<li><a href="{% url 'main:home' %}"><i class="fas fa-home-lg"></i> Home</a></li>
						<li><a href="{% url 'main:buscar-pessoas' %}"><i class="fas fa-search"></i> Buscar Pessoas</a></li>



						{% if user.is_authenticated %}

                        <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn"><i class="fas fa-user"></i> Minha Conta <i class="fa fa-caret-down"></i></button>
                            <div id="myDropdown" class="dropdown-content">
                              <a href=""><i class="fas fa-user"></i> Olá, {{user}}</a>
							  <a href=""><i class="fas fa-user"></i> Meu perfil</a>
							  <a href="{% url 'main:logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>

                            </div>
                          </div>


                    {% else %}

                        <li><a href="{% url 'main:login' %}"><i class="fas fa-sign-in-alt"></i> Entrar</a></li>
                     {% endif %}

					</ul>
				</nav>
			</div>
		</div>
    </header>



<div class="page-topo">

	<button class="btn-solicitacao"><a href="{% url 'main:solicitacoes-interesse' user.pessoa.id %}">Solicitações de interesse</a></button>
    <button class="btn-meusInteresse"><a href="{% url 'main:meus-interesses' user.pessoa.id %}">Meus interesses</a></button>
</div>

	<section id="geral">
		<div class="container column">
			<div class="banner_options">

				{% for solicitacao in solicitacoes %}
					<div class="banner1">
						<div class="foto-perfil">
							<img src="{% static '/main/images/pessoa1.svg'%}" alt="usuario">
							<h3>{{solicitacao.nome}}, {{solicitacao.idade}} anos</h3>

						</div>
						<div class="ver-perfil">
							<a href="{%url 'main:perfil' solicitacao.id %}"><i class="fas fa-user"></i> Ver perfil</a>
						</div>

						<div class="conteudo">
							<p>{{solicitacao.descricao}}</p>
						</div>

						{%for bairro in solicitacao.restricoes.localidades.all%}

						<div class="bairro">
							<p><i class="fas fa-home-lg-alt"></i> Bairro: {{bairro}}</p>
						 </div>


						{%endfor%}


						<button class="btn-aceitar">
							<a href="{% url 'main:aceitar' solicitacao.id %}"><i class="far fa-check-circle"></i> Aceitar</a>
						</button>

						<button class="btn-recusar">
							<a href="{% url 'main:recusar' solicitacao.id %}"><i class="far fa-times-circle"></i> Recusar</a>
						</button>

					</div>
				{% endfor %}

			</div>
		</div>

	</section>

	<footer>
		<div class="container flexColumn">

			<div class="footer_copy">
				Copyright - Todos os direitos reservados
			</div>

		</div>
	</footer>
</body>
</html>