{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,user-scalable=0" />

    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/perfil.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/partials/minha-conta.css'%}" />
    <script src="{% static 'main/javascript/minha-conta.js'%}"></script>

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
		integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>




	<script type="text/javascript">
		window.onload = function () {
			document.querySelector(".menuMobile").addEventListener("click", function () {
				if (document.querySelector(".menu nav ul").style.display == 'flex') {
					document.querySelector(".menu nav ul").style.display = 'none';
				} else {
					document.querySelector(".menu nav ul").style.display = 'flex';
				}
			});
		};
	</script>


<title>Perfil | MorAmigo</title>

</head>

<body>

	<header>
		<div class="container">
			<div class="logo">
				<a href="{% url 'main:home'%}"><img src="{% static 'main/images/logo.svg'%}" /></a>
			</div>
			<div class="menu">
				<nav>
					<div class="menuMobile">
						<div class="mm_line"></div>
						<div class="mm_line"></div>
						<div class="mm_line"></div>
					</div>
					<ul>
						<!-- <li class="active"><a href="">HOME</a></li> -->
						<li><a href="{% url 'main:home' %}"><i class="fas fa-home-lg"></i> Home</a></li>
						<li><a href="{% url 'main:buscar-pessoas' %}"><i class="fas fa-search"></i> Buscar Pessoas</a></li>
						<!-- <li><a href="{%url 'main:perfil' pessoa.id %}"><i class="fas fa-user"></i> Meu perfil</a></li> -->


						{% if user.is_authenticated %}

                        <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn"><i class="fas fa-user"></i> Minha Conta <i class="fa fa-caret-down"></i></button>
                            <div id="myDropdown" class="dropdown-content">
                              <a href=""><i class="fas fa-user"></i> Olá, {{user}}</a>

                              <a href="{%url 'main:perfil' user.pessoa.id %}"><i class="fas fa-user"></i> Meu perfil</a>
                              <a href="{% url 'main:meus-interesses' user.pessoa.id %}"><i class="fas fa-user"></i> Meus Interesses</a>

                              <a href="{% url 'main:logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </div>
                          </div>


                    {% else %}

                        <li><a href="{% url 'main:login' %}"><i class="fas fa-sign-in-alt"></i> Entrar</a></li>
                     {% endif %}

					</ul>
				</nav>
			</div>
		</div>
    </header>

    <!-- <hr> -->

<div class="page-perfil">

    <div class="page-tabela">
                <div class="topo" >
                    <img src="{% static '/main/images/pessoa1.svg'%}" alt="usuario">
                    <p>{{pessoa.nome}}</p>

                    {% if user.is_authenticated %}

                        {% if user.pessoa.id == pessoa.pk %}
                            <button class="butto"><a href="{% url 'main:meus-interesses' user.pessoa.id %}">Meus interesses</a></button>
                        {% else %}
                            {% if user.pessoa in pessoa.interessados.all %}
                                <button class="butto" name="interesse"><a href="{% url 'main:meus-interesses' user.pessoa.id %}">Você já demonstrou interesse</a></button>

                            {% else %}
                            <button class="butto" name="interesse"><a href="{% url 'main:demonstrar-interesse' pessoa.id%}">Demonstrar interesse</a></button>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    {% if user.is_authenticated == False %}
                     <button class="butto"><a href="{% url 'main:login' %}">Faça login para Demonstrar interesse</a></button>
                    {% endif %}

                </div>



            <div class="descricao">
                <p>{{pessoa.descricao}}</p>
            </div>


            <table class="tabela1">
                <thead class="bg-warning">

                    <tr>
                        <th ><i class="far fa-id-card"></i> Dados Pessoais</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="fas fa-restroom"></i> Gênero: {{pessoa.get_genero_display}}</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-tools"></i> Ocupação: {{pessoa.ocupacao}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="tabela2">
                <thead class="bg-warning">
                    <tr>
                        <th><i class="far fa-smile"></i> Interesses</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="fas fa-map-marker-alt"></i> Bairro: {%for bairro in pessoa.restricoes.localidades.all%} {{bairro}}/{%endfor%} </td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-hand-holding-usd"></i>  Posso contribuir: {{pessoa.restricoes.valor_contribuicao}}</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-restroom"> Gênero de um possível colega de casa:</i> {{pessoa.restricoes.get_genero_companheiro_display}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="tabela3">
                <thead class="bg-warning">
                    <tr>
                        <th><i class="fas fa-exclamation-circle"></i> Restrições</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="fas fa-paw"></i> Animais: {{pessoa.restricoes.get_animais_display}}</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-home-lg-alt"></i> Visitas: {{pessoa.restricoes.get_visitas_display}}</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-wine-bottle"></i> Bebidas: {{pessoa.restricoes.get_bebidas_display}}</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-smoking"></i>  Fumantes:{{pessoa.restricoes.get_fumantes_display}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="tebela4">
                <thead class="bg-warning">
                    <tr>
                        <th><i class="far fa-address-book"></i> Contatos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A pessoa precisa aceitar sua solicitação de interesse para
                        que os contatos sejam exibidos! </td>
                </tbody>
            </table>
        </div>

</div>


	<footer>
		<div class="container flexColumn">

			<div class="footer_copy">
				Coyright - Todos os direitos reservados
			</div>

		</div>
	</footer>
</body>
</html>