* {
	font-family:Arial;
}
body {
	margin:0;
	padding:0;
}
header {
	display:flex;
	justify-content:center;
	height:120px;
}

.conteudo p{
	display: inline-flex;
    justify-content: center;
    font-size: 12px;
    width: 87%;
    color: grey;
    text-align: center;

 }



.bairro p{
    font-size: 14px;
    color:grey;

}

.container {
	display:flex;
	justify-content:space-between;
	width:1000px;
}
.logo img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 7rem;
}

.foto-perfil{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.foto-perfil h3{
	/* font-size: 15px; */
	font-weight: bold;

}

.foto-perfil img{
	width: 6rem;
	margin-right: 5px;
	padding-left:5px;



}


.menu {
	display:flex;
	align-items:center;
}
.menu nav a{
	font-size:18px;
}
nav ul,
nav li {
	list-style: none;
	margin:0;
	padding:0;
}
nav ul {
	display:flex;
}
nav a {
	display:block;
	padding:15px;
	text-decoration:none;
	text-transform:uppercase;
	color:#727272;
}
nav .active a,
nav a:hover {
	background-color:#FF9A00;
	color:#FFFFFF;
}
#banner {
	display:flex;
	justify-content:center;
	/* background-image:url("{% static '/main/images/banner.svg'%}"); */
	background-size:cover;
	background-color: #2c2c2c;
	background-position:center;
	height:500px;

}

.column {
	flex-direction: column;
}
/*ate aqui pra cima*/

.banner_headline {
	flex:1;
	display:flex;
	flex-direction: column;
	justify-content:center;
	text-align: center;
	align-items: center;
}

.banner_headline h2 {
	color:rgb(112, 111, 111);
    font-size:22px;

	/* text-shadow:0px 1px 0px #555555; */
	margin:0;
	padding:20px;
	width:500px;
	max-width:75%;
	margin-top:350px;
	border: solid 3px #FF9A00;
	background-color: #DCCEA1;
	border-radius: 20px;

}
.banner_options {
	height:100%;
	/* height: 240px; */
	display:flex;

}

.banner1{

	display: block;
	justify-content: center;
	align-items: center;
	color:black;
	padding:16px;
	margin: 5px;
	border: solid 1px #B6B3B3;
	border-radius: 10px;
	width: 100%;


}


.banner_desc {
	font-size:14px;
	margin-top:20px;
	margin-bottom:20px;
	color: gray;

}
.banner_options a {

	display:inline-block;
	border:3px solid #FF9A00;
	padding:2px;
	color:#6842C2;
	font-size:13px;
	text-decoration: none;
	font-weight: bold;
	margin-top:24px;
	width: 15vh;
	text-align: center;
	border-radius: 11px;


}
.banner_options a:hover{
    color: blueviolet;
}

#geral {
	display:flex;
	justify-content:center;
	background-position:center;
	text-align: center;

}


#geral section {
	flex:2;
	height: 100%;

	align-items: center;
}


.flex {
	display:flex;
	flex-wrap:wrap;
}


footer {
	flex:1;
	background: linear-gradient(90deg, #f2a900, #fe5000);
	display:flex;
	justify-content:center;
	align-items: center;
	text-align: center;
}



.flexColumn {
	flex-direction:column;
}




.footer_copy {
	border-top:1px solid gray;
	height:40px;
	line-height:40px;
	color:#5c5c5c;
	font-size:12px;
	margin-top:30px;
	margin-bottom:20px;



}

.menuMobile {
	display:none;
	width:40px;
	height:40px;
	margin-top:40px;
	margin-bottom:40px;
	margin-right:20px;

}

.mm_line {
	height:3px;
	background-color:black;
}

/* incluir ate aqui */
@media(max-width:820px) {
    .logo img{
        padding-left:5px;
    }
	.menu nav a{
		font-size:13px;
	}

	.foto-perfil h3 {
		font-size:12px;
	}


}


@media (max-width:660px) {

	/* .banner_headline {
		padding:10px;

	} */


    .banner1{
	width:87%;

    }
    .foto-perfil h3 {
	font-size:18px;
	width: 80%;

    }
/* fim */

	.banner_headline h2 {
		font-size:13px;
	    width: 100%;
	}

	.banner_options {
		height:auto;
		flex-direction:column;
	}

	.container {
		flex-direction:column;
	}



	.footer_copy {
		text-align: center;
	}

	header .container {
		flex-direction: row;
	}
	nav ul {
		flex-direction: column;
		display:none;
		position: absolute;
	    left: 0;
	    width: 100%;
	    background-color: #FFFFFF;
	}

	header {
		height:auto;
	}
	.logo img {
		padding-left:7px;
		width:70%;
		/*margin-bottom:10px;*/
	}

	.menuMobile {
		display:flex;
		flex-direction: column;
		justify-content:space-around;
	}
}
