* {
	font-family:Segoe UI;
}
body {
	margin:0;
	padding:0;
}
header {
	display:flex;
	justify-content:center;
	height:120px;
}


.container {
	display:flex;
	justify-content:space-between;
	width:1000px;
}

.logo img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 7rem;

}
.menu {
	display:flex;
	align-items:center;
}
nav ul,
nav li {
	list-style: none;
	margin:0;
	padding:0;
}
nav ul {
	display:flex;
}
nav a {
	display:block;
	padding:15px;
	text-decoration:none;
	text-transform:uppercase;
	color:#727272;
}
nav .active a,
nav a:hover {
	background-color:#FF9A00;
	color:#FFFFFF;
}



.column {
	flex-direction: column;
}
/* arquivo pra main(em cima) */


.page-perfil{
    display:flex;
	justify-content:center;
	height: 300px;


}




.page-topo{
	width: 100%;
	height: 20vh;
    display:flex;
	justify-content:center;
	text-align: center;
	align-items: center;
	color: #FFFFFF;
	border-top: 15px solid #FF9A00;
	border-bottom: 15px solid #FF9A00;

}

.container-geral{
	background: #FFFFFF;
	height: 20vh;
}


.page-topo button{
	margin: 30px 20px 3px 20px ;
	justify-content:space-between;
	width:25%;
	font-weight: bold;
	color: #FFFFFF;
	background-color:#A380F6;
	height: 2.9em;
	font-size: 18px;
	border-radius: 6px;
	border: 1px solid white;
	font-weight: bold;
}

button:hover {
	background-color:#8d69e0;
	color:#ddd4f5;
}


.butto a{
	color: white;
	text-decoration:none;
	text-align: center;
	align-items: center;
}




tr{
    color: rgb(100, 97, 97);
	font-weight: bold;
	font-size:12px;
	line-height:24px;

}

.page-container{
    display:flex;
	justify-content:center;
	align-items: left;
    flex-direction: column;
    margin:20px;
    padding: 40px;
    background: #FFFFFF;
    border: 1px solid #E6E6F0;
    box-sizing: border-box;
	border-radius: 8px;
	width:50%;


}
.page-container p{
	text-align: center;
}

.page-container button{
	align-items: center;
	justify-content:center;
	background-color:#A380F6;
	height: 30px;
	border: 1px solid #A380F6;
	border-radius: 8px;

}


.page-container button a{
	text-decoration: none;
	width:25%;

	color: #FFFFFF;

}

#geral {
	display:flex;
	justify-content:center;
	background-position:center;
	text-align: center;

}


#geral section {
	flex:2;
	height: 100%;

	align-items: center;
}



tr{
    color: rgb(100, 97, 97);
	font-weight: bold;
	font-size:12px;
	line-height:24px;

}



.page-container{
    display:flex;
	justify-content:center;
	align-items: left;
    flex-direction: column;
    margin:20px;
    padding: 40px;
    background: #FFFFFF;
    border: 1px solid #E6E6F0;
    box-sizing: border-box;
	border-radius: 8px;
	width:50%;


}
.page-container p{
	text-align: center;
}

.page-container button{
	align-items: center;
}






.flex {
	display:flex;
	flex-wrap:wrap;
}


footer {
	flex:1;
	background-color:#FF9A00;
	display:flex;
	justify-content:center;
	align-items: center;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}



.flexColumn {
	flex-direction:column;
}



.footer_copy {
	border-top:1px solid gray;
	height:40px;
	line-height:40px;
	color:#5c5c5c;
	font-size:12px;
	margin-top:30px;
	margin-bottom:20px;


}

.menuMobile {
	display:none;
	width:40px;
	height:40px;
	margin-top:40px;
	margin-bottom:40px;
	margin-right:20px;

}

.mm_line {
	height:3px;
	background-color:black;
}

@media (max-width:660px) {



	.container {
		flex-direction:column;
	}
	.topo{
		flex-direction:column;
	}

	.button{

        margin-top:30px;
		width:100%;
		font-size: 12px;
		text-align: center;
		align-items: center;
		}
	.page-perfil{

		height: 100%;

	}
	.page-container{
		font-size: 12px;
	}




	.footer_copy {
		text-align: center;
	}


	header .container {
		flex-direction: row;
	}
	nav ul {
		flex-direction: column;
		display:none;
		position: absolute;
	    left: 0;
	    width: 100%;
	    background-color: #FFFFFF;
	}

	header {
		height:auto;
	}
	.logo {
		padding-left:20px;
		width: 35%;
		margin-bottom:10px;
	}

	.menuMobile {
		display:flex;
		flex-direction: column;
		justify-content:space-around;
	}
}
