* {
	font-family:Arial;
}
body {
	margin:0;
	padding:0;
}
header {
	display:flex;
	justify-content:center;
	height:120px;
}



.container {
	display:flex;
	justify-content:space-between;
	width:1000px;
}

.logo img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 7rem;
}
.menu {
	display:flex;
	align-items:center;
}
nav ul,
nav li {
	list-style: none;
	margin:0;
	padding:0;
}
nav ul {
	display:flex;
}
nav a {
	display:block;
	padding:15px;
	text-decoration:none;
	text-transform:uppercase;
	color:#727272;
}
nav .active a,
nav a:hover {
	background-color:#FF9A00;
	color:#FFFFFF;
}



.column {
	flex-direction: column;
}
/* arquivo pra main(em cima) */


.page-perfil{
    display:flex;
    justify-content:center;
    /* height: 85vh; */
	text-align: left;
	background: linear-gradient(90deg, #f2a900, #fe5000);
    /* background: #FF9A00; */

}

.topo{
	display:flex;
	justify-content:space-between;
	align-items: center;
	text-align: center;
}


.topo img{
	width: 6rem;

}


.topo p{
	display: flex;
	justify-content: center;
	align-items: center;
	color:#FF9A00;
	font-size: 18px;
	font-weight: bold;

}

.butto{
	/* margin-top:10px; */
	width:41%;

	background-color:#A380F6;
	height: 3.6em;
	border-radius: 6px;
	border: 1px solid white;
	font-weight: bold;
}

.butto:hover {
	background-color:#8d69e0;
	color:#ddd4f5;
}


.butto a{
	color: white;
	text-decoration:none;
	text-align: center;
	align-items: center;
}


th{
    color:#FF9A00;
	font-size:18px;
	font-weight: bold;
	padding-top: 14px;
	padding-bottom: 3px;

}
.descricao{
	border: 1px solid #C1BCCC;
	color: black;
	background-color: #FFFFFF;
	padding: 20px;
	font-size: 15px;
	border-radius: 6px;
	height:15vh;
	margin-top: 20px;
	margin-bottom: 10px;
}


tr{
    color: rgb(100, 97, 97);
	font-weight: bold;
	font-size:14px;
	line-height:24px;

}

.page-tabela{
    display:flex;
	justify-content:center;
	align-items: left;
    flex-direction: column;
    margin:20px;
    padding: 40px;
    background: #FFFFFF;
    border: 1px solid #E6E6F0;
    box-sizing: border-box;
	border-radius: 8px;
	width:54%;


}


.flex {
	display:flex;
	flex-wrap:wrap;
}


footer {
	flex:1;
	background: linear-gradient(90deg, #f2a900, #fe5000);
	/* background-color:#FF9A00; */
	display:flex;
	justify-content:center;
	align-items: center;
	text-align: center;
}



.flexColumn {
	flex-direction:column;
}

.footer_copy {
	border-top:1px solid gray;
	height:40px;
	line-height:40px;
	color:#5c5c5c;
	font-size:12px;
	margin-top:30px;
	margin-bottom:20px;


}

.menuMobile {
	display:none;
	width:40px;
	height:40px;
	margin-top:40px;
	margin-bottom:40px;
	margin-right:20px;

}

.mm_line {
	height:3px;
	background-color:black;
}

@media (max-width:927px) {
    .logo img{
        padding-left:5px;
    }
     tr{
        font-size:12px;
    }
	.topo{
		flex-direction:column;
	}

	.butto{

        margin-top:30px;
		width:100%;
		font-size: 14px;
		text-align: center;
		align-items: center;
		}
		.page-tabela{
			font-size: 14px;
			width:65%;
		}

}
@media (max-width:660px) {



	.container {
		flex-direction:column;
	}
	.topo{
		flex-direction:column;
	}
	.descricao{
	    font-size:12px;
	}

	.butto{

        margin-top:30px;
		width:100%;
		font-size: 12px;
		text-align: center;
		align-items: center;
		}
	.page-perfil{

		height: 100%;

	}
	.page-tabela{
		font-size: 12px;
		width:100%;
	}




	.footer_copy {
		text-align: center;
	}

	header .container {
		flex-direction: row;
	}
	nav ul {
		flex-direction: column;
		display:none;
		position: absolute;
	    left: 0;
	    width: 100%;
	    background-color: #FFFFFF;
	}

	header {
		height:auto;
	}
	.logo img {
		padding-left:7px;
		width:65%;

	}

	.menuMobile {
		display:flex;
		flex-direction: column;
		justify-content:space-around;
	}
}
